.xp-calculator {
    margin: 5rem;
}

.cover-picture {
    border-radius: 100%;
    max-width: 250px;
}

.calculator-container {
    width: 30rem;
    margin: 0 auto;
}

.xpCheckbox {
    margin-right: 1rem;
}

.plus-sign {
    font-size: 1em;
    color: #00FF99;
}

.total-counter {
    font-size: .8em;
}