/*.home {
    display: flex;
    padding: 5%;
    margin: 5% auto 0;
    width: 50%;
}

.home-image-wrapper {
    max-width: 80%;
    border-radius: 25%;
    background-image: url('./pic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 30%;
    margin: 0 8%;
}

.home-image {
    max-height: 80%;
}
*/

.home {
    display: flex;
    width: 50%;
    max-height: 100%;
    margin: 5% auto 0;
}

.home-image-col {
    width: 50%;
    margin: 0 5% 0 5%;
}

.home-image-wrapper {
    border-radius: 25%;
    height: 75%;
    width: 85%;
    float: right;
    overflow: hidden;
}

.home-image {
    background-image: url('./pic.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    padding: 45% 100% 150% 45%;
}

.home-image2 {
    display: block;
    background-image: url('./pic.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    padding: 10% 100% 50% 40%;
    margin-top: -50%;
    -webkit-filter: grayscale(100%);
    filter: blur(2px) grayscale(100%);
    opacity: 0.75;
}

.home-image3 {
    display: block;
    background-image: url('./pic.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    padding: 50% 100% 100% 40%;
    margin-top: -50%;
    -webkit-filter: grayscale(100%);
    filter: blur(1px) grayscale(100%);
    opacity: 0.2;
}

/*.home-image {
    background-image: url('./pic.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    padding: 50% 100% 75% 100%;
}

.home-image2 {
    display: block;
    background-image: url('./pic.jpg');
    background-repeat: no-repeat;
    background-position: center-bottom;
    padding: 50% 100% 75% 100%;
    height: 100%;
    margin-top: 250%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 
    filter: grayscale(100%);
    z-index:1;
}*/

.welcome-image {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}