.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: crosshair;
}

.home-item {
    background-color: white;
    margin: 2em 0;
}

.home-image-wrapper {
    max-height: 300px;
    overflow: hidden;
    border-radius: 50px;
    background-color: ;
}

.home-image {
    width: 350px;
    margin-top: -25%;
}

.home-image2 {
    width: 350px;
    margin-top: -118%;
    padding-right: 5%;
    display: block;
    opacity: 0.3;
    filter: blur(2px) grayscale(100%);
}

.home-image3 {
    width: 350px;
    margin-top: -118%;
    padding-right: 5%;
    display: block;
    opacity: 0.3;
    filter: blur(2px) grayscale(100%);
}
.home-image3:hover {
    width: 350px;
    margin-top: -118%;
    padding-right: 5%;
    display: block;
    opacity: 0.3;
    filter: blur(50px) grayscale(100%);
}


.home-content {
    padding: 2em 2% 1em;
    margin: 3%;
    border: 2px dashed pink;
    border-radius: 25px;
}

.welcome-image {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.welcome-image:hover {
    animation: App-logo-spin infinite 1s linear;
    height: 80px;
}

.welcome-text {
    padding: 1em;
    border-top: 1px dashed pink;
    width: 100%;
}